.plain-text {
  color: @plain-text-color;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.header-text{
    font-weight: bold;
    color: @main-font-color;
}