.modal-container {
  .card-container;
  position: fixed;
  margin: auto auto;
  height: 400px;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .account-form {
    display: flex;
    align-items: center;
    input {
      width: 100%;
    }
  }
  .account-container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
}
