.App {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Boxes {
  display: flex;
  justify-content: center;
  
}

.hover:hover {
  background-color: rgb(212, 212, 212);
}

