.App {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-flow: column;
  align-items: center;
<<<<<<< HEAD

=======
>>>>>>> 2f691bea45fe21ff6354bf3647fc7ec264a6fcc6
}

.Boxes {
  display: flex;
  justify-content: center;
}

.hover:hover {
  background-color: rgb(212, 212, 212);
}

.input {
<<<<<<< HEAD
  border: 3px solid rgb(66, 50, 50);
=======
  border: 3px solid black;
>>>>>>> 2f691bea45fe21ff6354bf3647fc7ec264a6fcc6
  border-radius: 2px;
}

.form {
  display: flex;
  flex-flow: column;
  text-align: left;
}
/* 
.form label {
  padding: 5px 0;
} */

.form input {
  width: 240px;
  height: 24px;
  padding: 0 2px;
  margin: 5px 0;
}

.form button {
<<<<<<< HEAD
  Color: white;
=======
  background: white;
>>>>>>> 2f691bea45fe21ff6354bf3647fc7ec264a6fcc6
  border: 3px solid black;
  box-shadow: 2px 2px black;
  margin-top: 16px;
}

.modal-container {
  position: fixed;
  margin: auto auto;
  width: 500px;
  height: 500px;
  background: snow;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgb(167, 160, 160);
  opacity: 1;
  visibility: visible;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

<<<<<<< HEAD
=======
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

>>>>>>> 2f691bea45fe21ff6354bf3647fc7ec264a6fcc6
.active {
  color: red;
}

a {
  text-decoration: none;
<<<<<<< HEAD
=======
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  background-color: greenyellow;
}

a.active {
  color: black;
  /* background-color: greenyellow; */
  /* visibility: hidden; */
  display: none;
>>>>>>> 2f691bea45fe21ff6354bf3647fc7ec264a6fcc6
}
