.App {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Boxes {
  display: flex;
  justify-content: center;
  
}

.hover:hover {
  background-color: rgb(212, 212, 212);
}

.input {
  border: 3px solid black;
  border-radius: 2px;
}

.form {
  display: flex;
  flex-flow: column;
  text-align: left;
}
/* 
.form label {
  padding: 5px 0;
} */

.form input {
  width: 240px;
  height: 24px;
  padding: 0 2px;
  margin: 5px 0;
}

.form button {
  background: white;
  border: 3px solid black;
  box-shadow: 2px 2px black;
  margin-top: 16px;
  
}
